<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图像处理</title>
<link href="static/css/2.css" rel="stylesheet" type="text/css" />
<style type="text.css">
</style>
<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
</head>

<body background="static/beijing3.jpg">
<table width="100%" height="260" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="228" valign="bottom"><table width="1000" height="120" border="0" align="center" cellpadding="20" cellspacing="0">
      <tr>
        <td align="left"><h1 style="font-size:40px;color:#00FFFF;"><span > 图像处理</span></h1>
          <p class="style2" style="color:#00FFFF">软件主要可以实现各类图像处理、图像识别以及水印的嵌入</p></td>
      </tr>
    </table>
      <table width="80%" height="50" border="0" align="center" cellpadding="0" cellspacing="0" id="nav">
        <tr>
          <td align="center" background="static/bg3.png" style="color: white;"><a href="http://192.168.1.11:5001/upload" style="color: white;">首页</a> - <a href="wutishibie.html" style="color: white;">物体识别</a> - <a href="renlianshibie.html" style="color: white;">人脸识别</a> - <a href="huidutu.html" style="color: white;">灰度图</a> - <a href="gaosimohu.html" style="color: white;">高斯模糊</a>- <a href="fupian.html" style="color: white;">负片</a>-<a href="tuxiangqiege.html" style="color: white;">图像切割</a>-<a href="tuxiangshuiyin.html" style="color: white;">图像水印嵌入</a> - <a href="shuiyinjiema.html" style="color: white;">图像水印解码</a> -<a href="lunkuoshibie.html" style="color: white;">人脸轮廓识别</a> - <a href="quanchurenlian.html" style="color: white;">圈出人脸</a> - <a href="shipinhuiduchuli.html" style="color: white;">视频处理</a></td>
        </tr>
      </table></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="10" cellspacing="0">
  <tr>
    <td width="80%" valign="top" style="color: #00FFFF;"><h2>物体识别</h2>
       
        
        <table>
        <tr><td width="50%" style="color：#00FFFF;font-size: 20px;">根据上传的照片智能分析物体类别。</td></tr>
        </tr>
        </table>
         <p style="font-size: 20px;color:#00FFFF;">原图：</p>
        <p><img src="static/{{pic}}" width="330" /></p>
        <p style="font-size: 20px;color:#00FFFF;">该物体可能为</p>
        <p style="font-size: 20px;color:#00FFFF;">{{ppp}}</p>
    </td>
        
    
  
</table>
<table width="80%" height="60" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td background="static/bg3.png"><table width="70%" border="0" align="center" cellpadding="10" cellspacing="0">
      
    </table></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
    </td>
  </tr>
</table>
</body>
</html>
